<div id="image_gallery">
<style>
img {
    display: none;
}

img#1 {
    display: block;
}
</style>
<script type="text/javascript">
document.addEventListener('touchstart', handleTouchStart, false);        
document.addEventListener('touchmove', handleTouchMove, false);

var xDown = null;                                                        
var yDown = null;    

var i = 1;
var length = {{ page.images | size }};

function swipe(n){
    if (n > length) {
       n = 1;
    } else if (n < 1) {
        n = length;
    }
    console.log(n)
    show_image('#'+n);
}

function handleTouchStart(evt) {                                         
    xDown = evt.touches[0].clientX;                                      
    yDown = evt.touches[0].clientY;                                      
};                                                

function handleTouchMove(evt) {
    if ( ! xDown || ! yDown ) {
        return;
    }

    var xUp = evt.touches[0].clientX;                                    
    var yUp = evt.touches[0].clientY;

    var xDiff = xDown - xUp;
    var yDiff = yDown - yUp;

    if ( Math.abs( xDiff ) > Math.abs( yDiff ) ) {/*most significant*/
        if ( xDiff > 0 ) {
            /* left swipe */ 
            if (window.location.hash[1] === undefined){
                swipe(2)
            } else {
                swipe(window.location.hash[1] + 1);
            }
        } else {
            /* right swipe */
            if (window.location.hash[1] === undefined){
                swipe(4)
            } else {
                swipe(window.location.hash[1] - 1);
            }
        }                       
    } 
    // else {
    //     if ( yDiff > 0 ) {
    //         /* up swipe */ 
    //     } else { 
    //         /* down swipe */
    //     }                                                                 
    // }
    /* reset values */
    xDown = null;
    yDown = null;                                             
};

//initialisation
window.onhashchange = init;
window.onload = init;

function init() {
    if (!window.location.hash) {
        show_image('i1');
    } else {
        img = 'i'+window.location.hash[1]
        show_image(img);
    }
}

function show_image(id) {
    $('.ig').each(function(){
        console.log(this)
        if ($(this).attr('id') === id) {
            $(this).show();
        } else {
            $(this).hide();
        }
    });
}

</script>
<p id="swipe">
{% for image in page.images %}
    <img class="ig" id="i{{ forloop.index }}" src="{{ image[0] | prepend: site.baseurl }}" alt="{{ image[1] }}"/>
{% endfor %}
</p>
<p>
{% assign no_of_images = page.images | size %}
    {% if no_of_images > 1 %}
        {% for image in page.images %}
            <a id="l{{ forloop.index }}" href="#{{ forloop.index }}" >{{ forloop.index }}</a>
        {% endfor %}
    {% endif %}
</p>
</div>
