<div id="image_gallery">
<script src="/static/js/jquery-2.1.1.min.js"></script>
<script src="/static/js/jquery.event.move.js"></script>
<script src="/static/js/jquery.event.swipe.js"></script>
<style>
img {
    display: none;
}

img#1 {
    display: block;
}
</style>
<script type="text/javascript">

//initialisation
window.onhashchange = init;
window.onload = init;

var images = $('.ig');
var i = 1;

images.on('swipeleft', function(e){
    console.log(e);
    console.log(i);
  swipe(i);
}).on('swiperight', function(e) {
    console.log(e);
    console.log(i);
  swipe(i);
});

function swipe(i) {
    var length = {{ page.images | size }};
    var n = i + 1;
    console.log(n);
    if (n >= length) {
        n = 1;
    }
    show_image('#'+ n);
}

function init() {
    if (!window.location.hash) {
        show_image('i1');
    } else {
        img = 'i'+window.location.hash[1]
        show_image(img);
    }
}

function show_image(id) {
    $('.ig').each(function(){
        if ($(this).attr('id') === id) {
            $(this).show();
        } else {
            $(this).hide();
        }
    });
}

</script>
<p id="swipe">
{% for image in page.images %}
    <img class="ig" id="i{{ forloop.index }}" src="{{ image[0] | prepend: site.baseurl }}" alt="{{ image[1] }}"/>
{% endfor %}
</p>
<p>
{% assign no_of_images = page.images | size %}
    {% if no_of_images > 1 %}
        {% for image in page.images %}
            <a id="l{{ forloop.index }}" href="#{{ forloop.index }}" >{{ forloop.index }}</a>
        {% endfor %}
    {% endif %}
</p>
</div>
