<div id="image_gallery">
<style>

img {
    display: none;
}


img#1 {
    display: block;
}

</style>

<script type="text/javascript">

//initialisation
window.onhashchange = init;
window.onload = init;

function init() {
    if (!window.location.hash) {
        show_image('i1');
    } else {
        img = 'i'+window.location.hash[1]
        show_image(img);
    }
}

function show_image(id) {
    $('.ig').each(function(){
        if ($(this).attr('id') === id) {
            $(this).show();
        } else {
            $(this).hide();
        }
    });
}

</script>

{% for image in page.images %}
    <img class="ig" id="i{{ forloop.index }}" src="{{ image[0] | prepend: site.baseurl }}" alt="{{ image[1] }}"/>
{% endfor %}

<br/>
<p>
    {% if pages.images > 1 %}
        {% for image in page.images %}
            <a id="l{{ forloop.index }}" href="#{{ forloop.index }}" >{{ forloop.index }}</a>
        {% endfor %}
    {% endif %}
</p>
</div>
