
a#about:hover {
    color: #00FFFF;
    text-decoration: none;
}

a#projects:hover {
    color: #FFFF00;
    text-decoration: none;
}

a#contact:hover {
    color: #FF00FF;
    text-decoration: none;
}
